<configuration>
  <configSections>
 <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>
  <RewriterConfig> 
	<Rules>
	  <RewriterRule>
		<LookFor>~/ConfirmacionBahcoStore.aspx</LookFor>
		<SendTo>~/DobleConfirmacion.aspx?MerchantId=mfd_bahco</SendTo>
	  </RewriterRule>
	  <RewriterRule>
		<SendTo>~/DobleConfirmacion.aspx?MerchantId=test_travelPay</SendTo>
		<LookFor>~/PruebaRedireccion.aspx</LookFor>
	  </RewriterRule>
	</Rules>
  </RewriterConfig>
</configuration>